<html>
<link rel="stylesheet" type="text/css" href="/css/main.css">
    <head>
        <title>Nodechan- 404 Error Not Found</title>
    </head>

<body class="main">

    <div class="error-message">
        <h1> 404 </h1>
        <h2> Page Not Found </h2>
    </div>

</body>
