<html>

<body>
    <h1>Add Board</h1>
    <form action="/addBoard" method="POST">
        <input type="text" name="code" placeholder="Board Code"></input>
        <input type="text" name="title" placeholder="Board Title"></input>
        <input type="text" name="category" placeholder="Category"></input>
        <button type="submit">Submit  </submit> 
    </form>
</body>
