p {
    display: table-cell;
    white-space: pre;
}

body.main {
    height: 200px;
    background: linear-gradient(#fed6af, #ffebcf, #ffffee) no-repeat;
    background-size:auto 175px;
    background-color: #ffffee;
    color: maroon;
    font-size: 10pt;
    font-family: arial,helvetica,sans-serif;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-right: 5px;
    max-width: 100%;
    overflow-x: hidden;
}

.post{
    display: table;
    margin-top: 2px!important;
    margin-bottom: 4px;
    padding: 2px;
    max-width: 75%;
}

.postInfo{
    display: block;
    width: 100%;
}

.reply{
    background-color:#f0e0d6;
    border-right: 1px solid #d9bfb7;
    border-bottom: 1px solid #d9bfb7;
}

.postMessage{
    margin: 13.3333px 40px 13.3333px 40px;
}

span.name {
    color: green;
    font-weight: bold;
}

span.subject{
    color: red;
    font-weight: bold;
}

#newPost{
    margin: auto;
    width: 468px;
}

#newPost textarea{
    width: 292px;
}

table#newPost>tbody>tr>td:first-child {
    background-color: #ea8;
    color: #800;
    border: 1px solid #800;
    padding: 0 5px;
}

.abovePostForm {
    width: 90%;
}

div.postContainer {
    max-width: 75%;
    margin: 0;
    clear: both;
}

.fileThumb {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.file{
    display: block;
}

.boardNav {
    text-align: center;
}

h1.boardTitle{
    text-align: center;
}

.thumbnail{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.thread{
    display:block;
}

.memeArrows{
    color: #f0e0d6;
    float:left;
}

span.hand:hover{
    color: #FF0000 !important;
}

span.hand{
    padding: 0 5px;
    border-radius: 3px;
    font-size: .85em;
    color: black;
}

.highlight{
    background: #f0c0b0!important;
    border: 1px solid #d99f91!important;
}

a.highlightThisPost{
    text-decoration: none;
    color: maroon;
}
a.highlightThisPost:hover{
    color: #FF0000 !important;
}

a.quotePostNumber{
    text-decoration: none;
    color: maroon;
}
a.quotePostNumber:hover{
    color: #FF0000 !important;
}

.metadata{
    text-align: right;
    padding: 3px;
}

.threadNav{
    display: block;
    float: left;
    padding: 3px;
}

a.threadNavItem{
    color: blue;
}

.boardNav#bottom{
    margin-bottom: 5px;
}

a.boardCodes{
    color: maroon;
    text-decoration: none;
}

.bottomCtrl{
    text-align: right;
    padding: 3px;
}

.postLink{
    color: navy!important;
}

hr{
    border-top: 1px solid #d9bfb7;
    clear: both;
}

div.footer{
    font-size: 10px;
    text-align: center;
    padding-bottom: 3px;
}

.error-message{
    text-align: center;
}
