p {
    display: table-cell;
    white-space: pre;
}

body.main {
    height: 200px;
    background: linear-gradient(#fed6af, #ffebcf, #ffffee) no-repeat;
    background-size:auto 175px;
    background-color: #ffffee;
    color: maroon;
    font-size: 10pt;
    font-family: arial,helvetica,sans-serif;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-right: 5px;
    max-width: 100%;
    overflow-x: hidden;
}

.OP{
    display: inline !important;
}

.post{
    display: table;
    margin-top: 2px!important;
    margin-bottom: 4px;
    padding: 2px;
    max-width: 75%;
}

.postInfo{
    display: block;
    width: 100%;
}

.reply{
    background-color:#f0e0d6;
    border-right: 1px solid #d9bfb7;
    border-bottom: 1px solid #d9bfb7;
}

.postMessage{
    margin: 13.3333px 40px 13.3333px 40px;
}

span.name {
    color: green;
    font-weight: bold;
}

span.subject{
    color: red;
    font-weight: bold;
}

#newPost{
    margin: auto;
    width: 468px;
}

#newPost textarea{
    width: 292px;
}

table#newPost>tbody>tr>td:first-child {
    background-color: #ea8;
    color: #800;
    border: 1px solid #800;
    padding: 0 5px;
}

.abovePostForm {
    width: 90%;
}

#newThread{
    margin: auto;
    width: 468px;
}

#newThread textarea{
    width: 292px;
}

table#newThread>tbody>tr>td:first-child {
    background-color: #ea8;
    color: #800;
    border: 1px solid #800;
    padding: 0 5px;
}
    
div.postContainer {
    max-width: 75%;
    margin: 0;
    clear: both;
}


.catalogContainer{
    display:flex;
    flex-wrap: wrap;
}

.catalogPreviewContainer{
    width: 180px !important;
    display: block !important;
}

.catalogMessage{
    margin: 0px
    text-align: center !important;
}

.catContents{
    text-align: center;
    max-width: 165px;
}

.catalogThumb{
    max-width: 100%
}

.fileThumb {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.file{
    display: block;
}

.boardNav {
    text-align: center;
}

h1.boardTitle{
    text-align: center;
}

.thumbnail{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.thread{
    display:block;
}

.memeArrows{
    color: #f0e0d6;
    float:left;
}

span.hand:hover{
    color: #FF0000 !important;
}

span.hand{
    padding: 0 5px;
    border-radius: 3px;
    font-size: .85em;
    color: black;
}

.highlight{
    background: #f0c0b0!important;
    border: 1px solid #d99f91!important;
}

a.highlightThisPost{
    text-decoration: none;
    color: maroon;
}
a.highlightThisPost:hover{
    color: #FF0000 !important;
}

a.quotePostNumber{
    text-decoration: none;
    color: maroon;
}
a.quotePostNumber:hover{
    color: #FF0000 !important;
}

.metadata{
    text-align: right;
    padding: 3px;
}

.threadNav{
    display: block;
    float: left;
    padding: 3px;
}

a.threadNavItem{
    color: blue;
}

a.threadNavItem:clicked{
    color:blue;
    text-decoration: none;
}

a.reply-link{
    color: blue;
    text-decoration: none;
}

a.reply-link:clicked{
    color: blue;
    text-decoration: none;
}

a.boardLink{
    color: blue;
    text-decoration: none;
}

a.boardLink:clicked{
    color: blue;
    text-decoration: none;
}

a.pageLink{
    color: blue;
    text-decoration: none;
}

a.pageLink:clicked{
    color: blue;
    text-decoration: none;
}

.boardNav#bottom{
    margin-bottom: 5px;
}

a.fileLink{
    color: blue;
}

a.fileLink:clicked{
    color: blue;
}

a.boardCodes{
    color: maroon;
    text-decoration: none;
}

.bottomCtrl{
    float: right;
    padding-right: 7px;
}

.bottomMenu{
    float: left;
}

.footMenu{
    width: 100%;
    height: 15px;
    display: block;
    padding-bottom: 12px;
    padding-left: 7px;
    padding-right: 7px
}

.postLink{
    color: navy!important;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid #d9bfb7;
    clear: both;
}

div.footer{
    font-size: 10px;
    text-align: center;
    padding-bottom: 13px;
    display: block;
}

.error-message{
    text-align: center;
}

.catalogLink{
    border-left: 1px solid #d9bfb7;
    padding-left: 12px;
    margin-left: 7px;
}

.pageTab{
    float: left;
    background-color:#f0e0d6;
    border-right: 1px solid #d9bfb7;
    border-bottom: 1px solid #d9bfb7;
    margin-left: 5px;
    max-width: 25%;
    padding: 2px;
    color: #b86;
}

.pageTab button{
    color: black;
}
.container#home{
    margin: auto;
    max-width: 75%;
    text-align:center;
}

.error-message{
    margin-bottom: 5%;
}

.topBanner{
    margin: auto;
    text-align: center;
}

img.banner{
    border: 1px solid maroon;
}

.boardsContainer{
    border: 1px solid;
    zoom: 100%;
    margin-bottom: 0px;
    padding-bottom: 3em;
    height: 100%;
}
.boardsTitleBar {
    vertical-align: top;
    text-align: left;
    background: #fca;
    color: #800;

}

#bTB{
    margin-top: 0px;
}

.column{
    float:left;
}

.column h3{
    margin-top: 0px;
}
